<div class="wrapper">
<header><h1>{{currentEvent.eventName}}</h1></header>
<div class="content">
  <div class="action">
  <button *ngIf="currentEvent?.registrationStatus" class="btn btn-danger" (click) = "endRegistrationPhase()">Zakończ rejestracje</button>
  <button *ngIf="!currentEvent?.registrationStatus" class="btn btn-success" (click) = "openRegistrationPhase()">Wznów rejestracje</button>
  <button class="btn btn-primary" (click) = "addRound()">Dodaj runde</button>
  <button class="btn btn-primary" (click) = "showTable()">Wyniki</button>
  <button class="btn btn-secondary" (click) = "navigateBack()">Wstecz</button>
</div>
<div class="child-component"  [ngSwitch]="currentComponent">
<app-event-table *ngSwitchCase="'event-table'" [roundList] = "eventRounds"></app-event-table>

</div>
</div>

</div>
