<div class="wrapper">
  <button class="btn btn-success">Dodaj zawody</button>
<div class="search-section">

</div>

<div class="list-section">
  <h3>Lista zawodów</h3>

  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Data</th>
        <th scope="col">Nazwa</th>
        <th scope="col">Klasa</th>
        <th scope="col">Ilość rund</th>
        <th scope="col">Lokalizacja</th>
        <th scope="col">Uczestików</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
        <td>Thornton</td>
        <td>@fat</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
        <td>Thornton</td>
        <td>@fat</td>
      </tr>
    </tbody>
  </table>
</div>

</div>
