<div class="container">
<div class="container-fluid">
<form>
  <div class="form-group">
    <label for="locationName">Nazwa</label>
    <input type="text" class="form-control" id="locationName" placeholder="Nazwa lokalizacji">
  </div>
  <div class="form-group">
    <label for="country">Kraj</label>
    <select class="form-control">
      <option value="asds" class="form-control">asdasd</option>
    </select>
  </div>
  <div class="form-group">
    <label for="coordinates">Współrzędne geograficzne</label>
    <a href="https://epsg.io/map#srs=4326&x=66.298826&y=57.326521&z=4&layer=streets"
    target="_blank" class="btn btn-secondary">Wybierz współrzędne</a>
    <input type="text" class="form-control" id="coordinates" placeholder="XX.XXXXXXX YY.YYYYYYY">
  </div>
  <button type="submit" class="btn btn-primary">Dodaj</button>
</form>
</div>
</div>
