
.container {
  width:50%;
  height:auto;

}

.form-group {
  position:relative;
}

.state-container-dropdown {
  position:absolute;
  z-index:1;
  width:100%;
  height:auto;
  min-height: 50px;
  max-height: 300px;
  background:#F6F6F6;
  overflow-y:auto;
}

.locations {
  font-family: sans-serif;
  padding:10px;
  width:100%;
}
.locations:hover {
  background-color:#C2C2C2;
}

.datePicker {
  display:flex;
  flex-direction: row;
}
