<div class="container">
  <h1>Szybkie linki</h1>
  <div class="action">
    <ul>
      <li><button class="btn btn-info" (click) = "searchEvent()">Szukaj zawodów</button></li>
      <li><button class="btn btn-warning" (click) = "searchPilots()">Szukaj pilotów</button></li>
      <li><button class="btn btn-danger" (click) = "searchLocations()">Szukaj lokacji</button></li>
      <li><button class="btn btn-primary" *ngIf = "isLogged()" (click) = "showPilotProfile()">Wyświetl mój profil</button></li>
      <li><button class="btn btn-secondary" *ngIf = "isLogged()" (click) = "logout()">Wyloguj</button></li>
      <li><button class="btn btn-primary" *ngIf = "!isLogged()" (click) = "login()">Zaloguj</button></li>
      <li><button class="btn btn-secondary" *ngIf = "!isLogged()" (click) = "register()">Zarejestruj</button></li>
    </ul>
  </div>
</div>
