<div class="wrapper">
  <button class="btn btn-success" (click) = "goToAddLocation()">Dodaj nową lokację</button>
  <div class="location-list">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Nazwa lokalizacji</th>
          <th scope="col">Kraj</th>
          <th scope="col">Długość geo.</th>
          <th scope="col">Szerokość geo.</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Mark</td>
          <td>Otto</td>
          <td>@mdo</td>
        </tr>

      </tbody>
    </table>
  </div>
  </div>
