<div class="wrapper">
  <button class="btn btn-success" (click) = "goToAddLocation()">Dodaj nową lokację</button>
  <div class="location-list">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Nazwa lokalizacji</th>
          <th scope="col">Kraj</th>
          <th scope="col">Zdjecia</th>
          <th scope="col">Mapa</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td scope="row">Pińczów</td>
          <td scope="row">Polska</td>
          <td scope="row">Brak</td>
          <td><a href="https://www.google.pl/maps/@51.229248,22.522888,14.25z" target = "_blank">Pokaż</a></td>
        </tr>

      </tbody>
    </table>
  </div>
  </div>
