.flight-form {
  align-items: center;
  margin-top:10px;
 display:flex;
 flex-direction: row;
 justify-content:flex-start;
 flex-wrap: wrap;
}

mat-form-field {
  margin-right:5px;
}

.submit-flight {
  margin: 10px;
  margin-top:0px;
  width:20%;
  margin-bottom:20px;
}

form {
  margin-bottom:10px;
}
button {
  min-width: 160px;
}

