<div class="container-fluid">
<form [formGroup] = "pilotForm">
  <div class="form-group">
  <label>Imie: </label>
  <input type="text" [class.is-invalid] = "firstName.errors && firstName.touched" class=" form-control" formControlName="firstName"><br>
  <div *ngIf = "firstName.invalid && firstName.touched">
  <small *ngIf="firstName.errors?.required" class="text-danger">Imie jest wymagane</small>
  <small *ngIf="firstName.errors?.minlength" class="text-danger">Imie musi posiadać przynajmniej 3 znaki</small>
  <small *ngIf="firstName.errors?.invalidFirstName" class="text-danger">Imię {{firstName.errors?.invalidFirstName}} jest nieprawidłowe</small>
  </div>
  </div>
  <div class="form-group">
  <label for="pilotLastName">Nazwisko:  </label>
  <input type="text"  class="form-control" formControlName="lastName" id="pilotLastName" name="piloLastName"><br>

</div>
  <div class="form-group">
  <label for="pilotBirthDate">Data urodzenia: </label>
  <input type="date"  class="form-control" formControlName="birthDate" id="pilotBirthDate" name="pilotBirthDate"><br>
</div>
  <div class="form-group">
  <label for="pilotEmail">E-mail: </label>
  <input type="text"  class="form-control" formControlName="email"><br>
  <div *ngIf = "Email.invalid && Email.touched">
    <small *ngIf="Email.errors?.invalidEmail" class="text-danger">Nieprawidłowy email</small>
  </div>
</div>
  <div class="form-group">
  <label for="country" >Kraj: </label>
  <select id="country" class="form-control" formControlName="country"><br>
    <option *ngFor = "let country of countries" value="{{country.countryId}}">
      {{country.countryName}}
    </option>
  </select>
</div>


<br>
  {{pilotForm.value | json }}

</form>

<form [formGroup] = "">
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
  </div>
  <div class="form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Check me out</label>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>
