<div class="wrapper">
  <div class="eventInfo">
    <table class="eventInfoTable">
      <tr>
        <td class="tdesc">Data rozpoczęcia</td>
        <td class="tdata">{{currentEvent?.startDate}}</td>
        <td class="tdesc">Nazwa zawodów</td>
        <td class="tdata">{{currentEvent?.eventName}}</td>

      </tr>
      <tr>
        <td class="tdesc">Data zakończenia</td>
        <td class="tdata">{{currentEvent?.endDate}}</td>
        <td class="tdesc">Kierownik zawodów</td>
        <td class="tdata">{{currentEvent?.pilotDirector.pilotFirstName}} {{currentEvent?.pilotDirector.pilotLastName}}</td>
      </tr>
      <tr>
        <td class="tdesc">Lokalizacja</td>
        <td class="tdata">{{currentEvent?.location.locationName}}</td>
        <td class="tdesc">Typ zawodów:</td>
        <td class="tdata">{{currentEvent?.eventType}}</td>
      </tr>
      <tr>
        <td class="tdesc">Status</td>
        <td class="tdata" colspan="3">
          <div *ngIf="currentEvent?.registrationStatus" class = "registrationStatusColumn">
            <span style="color:green"><b>Rejestracja otwarta</b></span>
            <button *ngIf="!isLoggedUserInEventPilotsList" class="btn btn-success" (click) = "registerMe()">Zarejestruj mnie</button>
          </div>
          <span *ngIf="!currentEvent?.registrationStatus" style="color:red"><b>Rejestracja zamknięta</b></span>
        </td>
      </tr>
    </table>
  </div>
<div class="event-manage" *ngIf="showManageBtn">
<button class="btn btn-primary" (click) = "navigateEventManage()">Zarządzaj zawodami</button>
</div>
<div class="eventPilotsInfo">
  <div *ngIf="currentEventPilotList?.length > 0; else pilotsNotFound;">
    <ul class="event-action">
      <li><button  mat-raised-button routerLink="eventPilots" [queryParams] = "{eventId: currentEvent?.eventId}" routerLinkActive="active">Piloci</button></li>
      <li><button  mat-raised-button routerLink="eventStats" [queryParams] = "{eventId: currentEvent?.eventId}" routerLinkActive="active">Wyniki</button></li>
      <li><button  mat-raised-button routerLink="eventRounds" [queryParams] = "{eventId: currentEvent?.eventId}" routerLinkActive="active">Rundy</button></li>
    </ul>
    <router-outlet></router-outlet> 
  </div>

</div>

<div class="action">
  <button class="btn btn-secondary" (click) = "navigateBack()">Wstecz</button>
</div>
</div>

<ng-template #pilotsNotFound>
  <div class="alert alert-warning" role="alert">
    Brak zarejestrowanych pilotów
  </div>
</ng-template>
