<div class="wrapper">
  <div class="eventInfo">
    <table class="eventInfoTable">
      <tr>
        <td class="tdesc">Data rozpoczęcia</td>
        <td class="tdata">{{currentEvent?.startDate}}</td>
        <td class="tdesc">Nazwa zawodów</td>
        <td class="tdata">{{currentEvent?.eventName}}</td>

      </tr>
      <tr>
        <td class="tdesc">Data zakończenia</td>
        <td class="tdata">{{currentEvent?.endDate}}</td>
        <td class="tdesc">Kierownik zawodów</td>
        <td class="tdata">{{currentEvent?.pilotDirector.pilotFirstName}} {{currentEvent?.pilotDirector.pilotLastName}}</td>
      </tr>
      <tr>
        <td class="tdesc">Lokalizacja</td>
        <td class="tdata">{{currentEvent?.location.locationName}}</td>
        <td class="tdesc">Typ zawodów:</td>
        <td class="tdata">{{currentEvent?.eventType}}</td>
      </tr>
      <tr>
        <td class="tdesc">Status</td>
        <td class="tdata" colspan="3">
          <div *ngIf="currentEvent?.registrationStatus" class = "registrationStatusColumn">
            <span style="color:green"><b>Rejestracja otwarta</b></span>
            <button *ngIf="!isLoggedUserInEventPilotsList" class="btn btn-success" (click) = "registerMe()">Zarejestruj mnie</button>
          </div>
          <span *ngIf="!currentEvent?.registrationStatus" style="color:red"><b>Rejestracja zamknięta</b></span>
        </td>
      </tr>
    </table>
  </div>
<div class="event-manage" *ngIf="showManageBtn">
<button class="btn btn-primary" (click) = "navigateEventManage()">Zarządzaj zawodami</button>
</div>
<div class="eventPilotsInfo">
  <div *ngIf="currentEventPilotList?.length > 0; else pilotsNotFound;">
    <app-results [currentEvent] = "currentEvent" [eventRounds] = "eventRounds" [eventPilots] = "currentEventPilotList"></app-results>
    
    
    
    
    
    
    <!-- <table class="table table-striped">
      <thead>
        <tr>
          <td scope="col">#</td>
          <td scope="col">Nazwa pilota</td>
          <td scope="col">Kraj</td>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let pilot of currentEventPilotList;let i = index;">
          <td>{{i+1}}</td>
          <td>{{pilot?.pilotFirstName}} {{pilot?.pilotLastName}}</td>
          <td>{{pilot?.country?.countryName}}</td>
        </tr>
      </tbody>
    </table> -->
  </div>

</div>

<div class="action">
  <button class="btn btn-secondary" (click) = "navigateBack()">Wstecz</button>
</div>
</div>

<ng-template #pilotsNotFound>
  <div class="alert alert-warning" role="alert">
    Brak zarejestrowanych pilotów
  </div>
</ng-template>
