<div class="container">
  <div class="container-fluid">
    <form [formGroup]="loginForm" (ngSubmit) = "submitLogin()">
      <div class="form-group">
        <label>Nazwa użytkownika</label>
        <input type="text" class="form-control" formControlName="username">
      <div *ngIf = "username.invalid && username.touched">
        <small *ngIf="username.errors?.required" class="text-danger">Wymagana nazwa użytkownika</small>
      </div>
      </div>
      <div class="form-group">
        <label>Password</label>
        <input type="password" class="form-control" formControlName="password">
        <div *ngIf = "password.invalid && password.touched">
          <small *ngIf="password.errors?.required" class="text-danger">Wymagane hasło</small>
        </div>
        <small *ngIf="badCredentials" class="text-danger">Niepoprawne dane logowania</small>
      </div>
      <div *ngIf = "loginForm.errors?.emptyForm">
      <small class="text-danger">{{loginForm.errors.emptyForm}}</small>
      
    </div>
      <input type="submit" class="btn btn-secondary login" value="Zaloguj">
    </form>
    <div class="form-footer">
      <button (click) = "navigateBack()" class="btn btn-info btn-back">Wstecz</button>
    </div>

  </div>
</div>
