<nav>
  <ul>
    <li routerLink="home"   routerLinkActive="active" ><img class="home" src="assets/images/plane.png"></li>
    <li routerLink='pilots' routerLinkActive="active"><span>Piloci</span></li>
    <li routerLink='events' routerLinkActive="active"><span>Zawody</span></li>
    <li routerLink='planes' routerLinkActive="active"><span>Samoloty</span></li>
    <li routerLink='locations/home' routerLinkActive="active"><span>Lokacje</span></li>
  </ul>
</nav>
<app-user-action></app-user-action>
