  a>img {
   width:50px;
 }
 a>span {
  font-size:1.5rem;
  text-align:center;
  margin-top:10px;
  color:black;
 }
 a:not(:nth-child(1)) {
  width:120px;
  text-align:center;
 } 
 .navbar-nav {
  padding:0 !important;
  height:60px;
 }
 .toggler {
   display:none;
 }
 .active:not(img) {
   font-weight: bold;
    border-bottom:3px solid black;
 }
 
 .wrapper {
   width:100%;
   display: flex;
   background-color: #f8f9fa;
   justify-content: space-between;
 }

 @media only screen and (max-width: 990px) {
  .toggler {
     display:block !important;
   }
   .nav {
     position:absolute;
    flex-direction: column;
    top:60px;
    background-color:rgb(240, 240, 240)
    
   }
   .nav>a>span {
     font-size: 1rem;
   }
   .nav>a:hover {
    background-color:rgb(197, 194, 194)
  }
   .nav>a:nth-child(1) {
     display:none;
   }
   

 }
  