  a>img {
   width:50px;
 }
 a>span {
  font-size:1.5rem;
  text-align:center;
  margin-top:10px;
 }
 a:not(:nth-child(1)) {
  width:120px;
  text-align:center;
 } 
 .navbar-nav {
  padding:0 !important;
  height:60px;
 }

 .active:not(img) {
   font-weight: bold;
    border-bottom:3px solid black;
 }
 
 .wrapper {
   width:100%;
   display: flex;
   background-color: #f8f9fa;
   justify-content: space-between;
 }
  